@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&subset=latin-ext');

:root {
    --commonGray: rgb(60, 60, 62);
    --commonGreen: rgb(0, 233, 116);
    --commonSpace: 0.7rem;
}

.centerVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerHorizontal {
    margin: auto;
}